{% extends 'notes/note_base.html' %}
{% load humanize couchdb markup %}

{% block content %}
	{% if form %}
		<form action="." method="post">
			<fieldset>
				<legend><a href="{% url note_create %}">New Note</a></legend>
				<p>{{ form.body }} {{ form.body.errors }}</p>
				<p class="tags"><label for="id_tags">{{ form.tags.label }}</label> {{ form.tags }} {{ form.tags.errors }}</p>
				<input type="submit" value="Log It">
			</fieldset>
		</form>
	{% endif %}
	
	{% for note in notes %}
		{% ifchanged %}<h2><span class="alt">Notes for</span> {{ note.created|convert_datetime|naturalday|title }}</h2>{% endifchanged %}
		
		<div class="note-{{ note.id }}">
			<h3>{% if form %}<span class="delete"><a href="{{ note.get_delete_url }}">&otimes;</a></span>{% endif %} <span class="date"><a href="{{ note.get_absolute_url }}">{{ note.created|convert_datetime|date:"g:i a" }}</a></span></h3>
			{{ note.body|markdown }}
		</div><!-- .note-{{ note.id }} -->
	{% endfor %}
{% endblock %}