{% extends 'notes/note_base.html' %}

{% load couchdb humanize markup %}

{% block title %}{{ block.super }} - Delete {{ note.body|truncatewords_html:5 }}{% endblock %}

{% block content_title %}
	<h2>Deleting Entry from <strong>{{ note.created|convert_datetime|naturalday }}</strong> at <strong>{{ note.created|convert_datetime|date:"g:i a"  }}</strong></h2>
{% endblock %}

{% block content %}  
	<form action="." method="post">
		<fieldset>
			<div class="entry">{{ note.body|markdown }}</div>
			{% if object.tags %}<div class="tags list">Tags: <span>{{ note.tags }}</span></div>{% endif %}
			<p class="button">
				<a href="{% url notes_index %}">Cancel</a>
				<input type="submit" value="Delete Entry">
			</p><!-- .button -->
		</fieldset>
	</form>
{% endblock %}