{% extends 'notes/note_base.html' %}
{% load couchdb humanize %}

{% block title %}{{ block.super }} - Editing {{ note.body|truncatewords_html:5 }}{% endblock %}

{% block content_title %}
	{% if note %}
		<h2>Editing Note from <strong>{{ note.created|convert_datetime|naturalday }}</strong> at <strong>{{ note.created|convert_datetime|date:"g:i a"  }}</strong></h2>
	{% else %}
		<h2>New Note</h2>
	{% endif %}
{% endblock %}

{% block content %}
	<form action="." method="post">
		<fieldset>
			<p>{{ form.body.errors }}{{ form.body }}</p>
			<p class="tags"><label for="id_tags">{{ form.tags.label }}</label>{{ form.tags }}{{ form.tags.errors }}</p>
			<p class="button">
				<a href="{% url notes_index %}">Cancel</a>
				{% if note %}
					<input type="submit" value="ReLog It">
				{% else %}
					<input type="submit" value="Log It">
				{% endif %}
			</p><!-- .button -->
		</fieldset>
	</form>
{% endblock %}