{% extends "bookmarks/base_bookmarks.html" %}
{% load i18n markup %}

{% block title %}{{ block.super }}{% endblock %}

{% block content_title %}
	<h2>{% trans "Bookmarks" %}</h2>
{% endblock %}

{% block content %}
	<div id="bookmarks_links">
		{% for bookmark in bookmarks %}
			<div id="bookmark-{{ bookmark.id }}">
				<h3><a href="{{ bookmark.get_absolute_url }}">{{ bookmark.title }}</a> <a href="{{ bookmark.get_internal_url }}">#</a></h3>
				{% if bookmark.body %}{{ bookmark.body|markdown }}{% endif %}
				<p class="tags" style="float:right;">{% for tag in bookmark.tags %}<span class="tag">{{ tag }}</span> {% endfor %}</p>
			</div>
		{% endfor %}
	</div>
	
	{% if has_other_pages %}
		<div id="pagination">
			<p>
				{% if has_previous %}<a href="{% url bookmarks_archive_pagination previous_page_number %}" title="Page {{ previous_page_number }}">Previous</a>{% endif %}
				{% if has_previous and has_next %}-{% endif %}
				{% if has_next %}<a href="{% url bookmarks_archive_pagination next_page_number %}" title="Page {{ next_page_number }}">Next</a>{% endif %}
			</p>
		</div>
	{% endif %}
{% endblock %}