{% extends "blog/base_blog.html" %}
{% load i18n couchdb humanize markup %}

{% block title %}{{ block.super }}: {{ post.title }}{% endblock %}

{% block head %}{% for meta in post.meta %}<meta name="{{ meta.name }}" content="{{ meta.content }}">{% endfor %}{% endblock %}

{% block content_title %}
	<h2>{{ post.title }}</h2>
	<p class="meta alt">By {% if user %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ post.author.name|default_if_none:"Anonymous" }}{% endif %} on {{ post.published|convert_date|naturalday|title }}</p>
{% endblock %}

{% block content %}
	<div class="blog_post">
		<div class="body">
			{{ post.body|markdown }}
		</div>
		
		<p class="tags alt">{% for tag in post.tags %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
	</div>
	
	{% if post.pings %}
		<div id="pings">
			<a name="pings"></a>
			<h3>{% trans "Pings" %}</h3>
			{% for ping in post.pings %}
				<div class="ping">
					<h4 class="name"><a name="p{{ ping.id }}" href="#{{ ping.id }}">{{ forloop.counter }}</a> <a href="{{ ping.uri }}">{{ ping.title }}</a></h4>
					{{ ping.excerpt|linebreaks }}
				</div>
			{% endfor %}
		</div>
	{% endif %}
	
	<div id="comments">
		<a name="comments"></a>
		{% if post.comments %}
			<h3>{% trans "Comments" %}</h3>
			{% for comment in post.comments %}
				<div class="comment">
					<h4 class="name"><a name="c{{ forloop.counter }}" href="#c{{ forloop.counter }}">{{ forloop.counter }}</a> <a href="{{ comment.author.url }}">{{ comment.author.name }}</a> says...</h4>
					{{ comment.comment|urlizetrunc:"60" }}
					<p class="date alt">{% trans "Posted on " %}{{ comment.time|convert_datetime|naturalday|title }}</p>
				</div>
				<hr>
			{% endfor %}
		{% endif %}
		
		{% if post.allow_comments %}
			<form action="{% url post_comment %}" method="post" accept-charset="utf-8">
				<fieldset>
					<legend>{% trans "Post a comment" %}</legend>
					{{ comment_form.as_p }}
					<p><input type="submit" value="{% trans "Post Comment" %}"></p>
				</fieldset>
			</form>
		{% endif %}
	</div>
{% endblock %}