{% extends "admin/base_site.html" %}
{% load i18n adminmedia admin_modify %}

{% block extrahead %}{{ block.super }}
	<script src="../../../jsi18n/" type="text/javascript"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/calendar.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/admin/DateTimeShortcuts.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/SelectBox.js"></script>
	<script type="text/javascript" src="{% admin_media_prefix %}js/SelectFilter2.js"></script>
{% endblock %}

{% block stylesheet %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block userlinks %}<a href="../../../doc/">{% trans 'Documentation' %}</a> / <a href="../../../password_change/">{% trans 'Change password' %}</a> / <a href="../../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
	<a href="../../../">{% trans "Home" %}</a> &rsaquo;
	<a href="../../">{% trans "Blog" %}</a> &rsaquo;
	<a href="../">{% trans 'Posts' %}</a> &rsaquo;
	{% if add %}{% trans "Add" %} {% trans 'Post' %}{% else %}{{ post.title|truncatewords:"18"|escape }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block bodyclass %}blog-post change-form{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block content %}
	<ul class="object-tools"><li><a href="history/" class="historylink">History</a></li>
		<li><a href="{% url redirect post.id %}" class="viewsitelink">View on site</a></li>
	</ul>
	<form action="" method="post" accept-charset="utf-8" id="post_form">
		<div>
			<div class="submit-row">
				{% if not add %}<p class="float-left"><a href="delete/" class="deletelink">{% trans 'Delete' %}</a></p>{% endif %}
				<input type="submit" value="{% if add %}{% trans 'Add this page' %}{% else %}{% trans 'Save all changes' %}{% endif %}" class="default" />
			</div>
			<div>
				<fieldset class="module aligned">
					{% for field in form %}
						<div class="form-row{% if field.errors %} error{% endif %}">
							<div>
								{{ field.errors }}
								<label for="id_{{ field.name }}" {% if field.field.required %} class="required"{% endif %}>{{ field.label }}:</label>
								{{ field }}
								{% if field.help_text %}<p class="help">{{ field.help_text }}</p>{% endif %}
							</div>
						</div>
					{% endfor %}
				</fieldset>
			</div>

			<div class="clearfix"></div>
			<div class="submit-row">
				{% if not add %}<p class="float-left"><a href="delete/" class="deletelink">{% trans 'Delete' %}</a></p>{% endif %}
				<input type="submit" value="{% if add %}{% trans 'Add this page' %}{% else %}{% trans 'Save all changes' %}{% endif %}" class="default" />
			</div>
		</div>
	</form>
{% endblock %}