<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Page not found — {{ site_name }}</title>
	<meta name="Content-Type" content="text/html; charset=utf-8">
	<style media="screen,projection" type="text/css">html{background:#fff;color:#333;background:#fff;font:13px/1.5 Verdana,Arial,sans-serif}body{border-top:13px solid #84b344;margin:0;padding:0}h1{color:#000;font-family:Helvetica,Arial,sans-serif;font-size:3.4em;font-weight:bolder;letter-spacing:-.05em;line-height:1;margin:0 auto;padding:3em 0 0;width:15.88em}#subtitle{color:#ccc;font-family:Georgia,"Times New Roman",Times,serif;font-size:1.2em;font-style:italic;margin:0 auto 3em;padding:0;width:45em}p{font-weight:normal;margin:1.5em auto;padding:0 20em 0 0;width: 34em}a{border-bottom:1px solid;padding-bottom:1px;text-decoration:none}a:link{color:#069}a:visited{color:#666}a:hover{color:#69c}</style>
</head>
<body>
	<h1>Where am I?</h1>
	<p id="subtitle">Probably not where you want to be</p>
	<p>You’re in a room. It’s dark. Silent. As your eyes become accustomed to the gloom you notice something on the wall opposite. Squinting, you read:</p>
	<p><strong>404 Page Not Found</strong></p>
	<p>It might be written in blood or something. I don’t know. This story’s gone on too long already.</p>
	<p>What I’m trying to say is the page you’re looking for, <em>{{ url|escape }}</em>, can’t be found. Sorry.</p>
	<p>You’re probably looking for the <a href="{% url blog_index %}">blog</a>; but if you’re completely lost, try the <a href="{% url homepage %}">home page</a>. If you think I’ve made some kind of mistake (as unlikely as that sounds) you should <a href="/contact/">get in touch</a>.</p>
</body>
</html>