<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<title>Server error &mdash; Myles braithwaite</title>
	<meta name="Content-Type" content="text/html; charset=utf-8">
	<style media="screen,projection" type="text/css">html{background:#fff;color:#333;background:#fff;font:13px/1.5 Verdana,Arial,sans-serif}body{border-top:13px solid #84b344;margin:0;padding:0}h1{color:#000;font-family:Helvetica,Arial,sans-serif;font-size:3.4em;font-weight:bolder;letter-spacing:-.05em;line-height:1;margin:0 auto;padding:3em 0 0;width:15.88em}#subtitle{color:#ccc;font-family:Georgia,"Times New Roman",Times,serif;font-size:1.2em;font-style:italic;margin:0 auto 3em;padding:0;width:45em}p{font-weight:normal;margin:1.5em auto;padding:0 20em 0 0;width: 34em}a{border-bottom:1px solid;padding-bottom:1px;text-decoration:none}a:link{color:#069}a:visited{color:#666}a:hover{color:#69c}</style>
</head>
<body>
	<h1>Mmm, massage</h1>
	<p id="subtitle">We all need a little &#8219;me&#8217; time</p>
	<p>
		Myles Braithwaite is taking a break. The life of a web site can&#8217;t
		be all work, work, work, you know. If you&#8217;re desperate for something
		to do you could try <a href="http://www.flickr.com/">Flickr</a> or
		<a href="http://news.bbc.co.uk/">BBC News</a>. They&#8217;re nice.
	</p>
	<p>
		(<acronym title="Post script">PS</acronym>. We&#8217;ll try and get this
		fixed as soon as we can.)
	</p>
</body>
</html>
