<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{{ site_name }}{% endblock %}</title>
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/screen.css" type="text/css" media="all">
	<!--[if IE]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	{% block head %}{% endblock %}
</head>
<body id="section_{{ section }}">
	<div class="container">
		<div class="span-24 first last" id="header">
			<h1 id="site_name"><a href="{% url homepage %}">{{ site_name }}</a></h1>
			<ul class="tabs" id="navigation">{% include "_tabs.html" %}</ul>
			<hr>
		</div><!-- .span-24 .first .last #header -->
		
		<hr class="space">
		
		{% block body_sidebar %}
			<div class="span-15 prepend-1 colborder first" id="body">
				{% block body %}
					{% block content_title %}{% endblock %}
					{% block content %}{% endblock %}
				{% endblock %}
			</div><!-- .span-15 .prepend-1 .colborder .first #body -->

			<div class="span-7 last" id="sidebar">
				<div class="intro">
					<p>Myles Braithwaite is a twenty two year old computer programmer living in Toronto, Canada <span class="alt amp">&amp;</span> works for <a href="http://monkeyinyoursoul.com/">Monkey in your Soul</a>. He has been told he is a new-age renaissance man. Like most web developers who have a personal page he likes talking about himself in the third person.</p>
					
					<h4>Social Networks</h4>
					<ul class="social_networks">
						<li class="flickr"><a href="http://flickr.com/photos/mylesbraithwaite/" title="Flickr Profile">Flickr</a></li>
						<li class="delicious"><a href="http://delicious.com/mylesb" title="Delicious Profile">Delicious</a></li>
						<li class="pownce"><a href="http://pownce.com/myles/" title="Pownce Profile">Pownce</a></li>
						<li class="lastfm"><a href="http://www.last.fm/user/mylesb" title="last.fm Profile">last.fm</a></li>
						<li class="facebook"><a href="http://www.facebook.com/profile.php?id=501556508" title="Facebook Profile">Facebook</a></li>
						<li class="linkedin"><a href="http://www.linkedin.com/in/mylesbraithwaite" title="LinkedIn Profile">LinkedIn</a></li>
					</ul><!-- .social_networks -->
				</div><!-- .intro -->
				{% block sidebar %}{% endblock %}
			</div><!-- .span7 .last #sidebar -->
		{% endblock %}
		
		<hr>
		<div class="span-7 colborder">
			<h6>Here's a box</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
		</div><!-- .span-7 .colborder -->
		
		<div class="span-8 colborder">
			<h6>And another box</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat laboris nisi ut aliquip.</p>
		</div><!-- .span-8 .colborder -->
		
		<div class="span-7 last">
			<h6>This box is aligned with the sidebar</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
		</div><!-- .span-7 .last -->
		<hr>
		
		<div class="span-24 first last" id="footer">
			<ul class="tabs">{% include "_tabs.html" %}</ul>
		</div><!-- .span-24 .first .last #footer -->
	</div><!-- .container -->
</body>
</html>
