{% extends "base.html" %}

{% load tumblelog %}

{% block content %}
	<div id="tumblelog_list">
		{% for item in items %}
			<div class="tumblelog_object tumblelog_type_{{ item.value.type|lower }}">
				{{ item|render_item:item.value.type }}
			</div>
		{% endfor %}
	</div>
	
	{% if has_other_pages %}
		<div id="pagination">
			<p>
				{% if has_previous %}<a href="{% url tumblelog_archive_pagination previous_page_number %}" title="Page {{ previous_page_number }}">Previous</a>{% endif %}
				{% if has_previous and has_next %}-{% endif %}
				{% if has_next %}<a href="{% url tumblelog_archive_pagination next_page_number %}" title="Page {{ next_page_number }}">Next</a>{% endif %}
			</p>
		</div>
	{% endif %}
{% endblock %}