<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{ flatpage.title }}</title>
	<style type="text/css" media="screen">html{background:#84b344;color:#FFF;font-family:Arial,"MS Trebuchet",sans-serif;font-size:1.2em;font-weight:bolder;line-height:1.5;text-transform:uppercase;}body{margin:6em auto;padding:0;width:28em;}p{margin:1.5em 0;}a:link,a:visited{color:#000;text-decoration:none;}a:hover,a:active,a:focus{color: #333;}</style>
</head>
<body id="flatpage">{{ flatpage.content|safe }}</body>
</html>
